.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(180deg, #848482, #343434);
    width: 350px;
    height: 500px;
    border-radius: 25px;
    border-color: black;
}
.calculadora td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color:black;
    border-radius: 50px;
    background: linear-gradient(180deg, #848482, #343434);
    /*le ponemos color a los bnotones*/
}

#resultado{ /* para mostrar los resultaados en la calculadora*/
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: whitesmoke;
    border-radius: 25px;
    overflow-y: scroll;
}